<!--<script>{{{status.script}}}</script>-->
<ul>
    <li>Time Alive: {{status.timeAlive}}</li>
    <li>CPU Count: {{status.cpuCount}}</li>
    <li>Total Memory: {{status.totalMemory}}</li>
    <li>Free Memory: {{status.freemem}}</li>
</ul>
